<table class="min-w-full border border-gray-300 bg-gray-300">
    <thead>
    <tr>
        <th class="border-b">Date</th>
        <th class="border-b">Message</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="logEntry : ${log}">
        <td class="border-b" th:text="${logEntry.logTime}"></td>
        <td class="border-b"
            th:text="${logEntry.message}"
            th:class="
                ( ${logEntry.logMessageType.toString() == 'MOVE_BY_WHITE'} ? 'text-white' : '' )
              + ( ${logEntry.logMessageType.toString() == 'MOVE_BY_BLACK'} ? 'text-black' : '' )
              + ( ${logEntry.logMessageType.toString() == 'WRONG_MOVE_BY_BLACK'} ? 'text-red' : '' )
              + ( ${logEntry.logMessageType.toString() == 'WRONG_MOVE_BY_WHITE'} ? 'text-red' : '' )">

        </td>
    </tr>
    </tbody>
</table>